@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.ster{
    text-align: center;
    font-family: 'Google Sans';
}

.main{
    text-align: center;
    font-family: 'Google Sans';
}
.img{
    text-align: center;
}
.info{
    text-align: center;
    font-family: 'Google Sans';
}
.img{
    text-align: center;
}